.form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    font-size: 14px;
    line-height: 1.21;
    max-width: 358px;
    width: 358px;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}

.form__input {
    border: none;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    height: 27px;
    padding: 0;
    margin-bottom: 30px;
}

.form__input:last-of-type {
    margin-bottom: 0;
}

.form__input_type_error {
    visibility: hidden;
    border-bottom: rgba(255, 0, 0, 0.2) 1px solid;
    margin-bottom: 5px;
}

.form__input_error_visible {
    visibility: visible;
    font-size: 12px;
    line-height: 1;
    color: #FF0000;
    margin-bottom: 13px;
}

.form__input_error_visible:last-of-type {
    margin: 5px 0 0;
}

.form__button {
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    height: 50.15px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 2px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.form__button:hover {
    opacity: 0.8;
}

.form__button_disabled {
    opacity: 0.2;
    cursor: auto;
}

.form__button_disabled:hover {
    opacity: 0.2;
}


@media screen and (max-width: 620px) {
    .form {
      width: 100%;
      max-width: none;
      gap: 46px;
    }
    .form__button {
        height: 46px;
        font-size: 14px;
    }
    .form__input {
        height: 26px;
    }
  }